package main

import (
	"fmt"
	"log"
	"net/http"

	"github.com/threetides/test/internal/httpx"
)

const port = 8080

func main() {
	mux := http.NewServeMux()

	// Health
	mux.HandleFunc("GET /api/health", func(w http.ResponseWriter, r *http.Request) {
		httpx.WriteJson(w, http.StatusOK, "Healthy", nil)
	})

	fmt.Println("Server started on port", port)
	log.Fatal(http.ListenAndServe(fmt.Sprintf(":%v", port), mux))
}